* {margin: 0; padding: 0;}
html {height: 100%;}
body {background-color: #D3D3D3; height: 100%;}

.main {background-color: #fff;
padding-top: 35px;
margin: 0 auto;
width: 50%;
font-family: "Oswald", serif;
height: 99%;
border-radius: 8px;
;}

.head {font-family: "Amatic SC", serif; font-size: 2.2em; padding-bottom: 25px; text-align: center;}

.tbox {text-align: center;}

ul {text-align: center;}
ul li {list-style: none;}

.content {width: 200px; margin: 25px auto; padding: 5px; border-radius: 5px; background-color: #fff;}
label {
  display: block;
  padding: 5px;
  cursor: pointer;
  background-color: #f5f5f5;
  margin: 5px 0 0;
  border-radius: 5px;
}
label:first-child {
  margin: 0;
}
label:hover {
  background-color: #F0F0F0;
}
label input {
  display: none;
}
label .fake-check {
  display: inline-block; vertical-align: middle; width: 16px; height: 16px; background: url('http://findicons.com/files/icons/2711/free_icons_for_windows8_metro/32/unchecked_checkbox.png') no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  float: left; 
}


label input:checked + .fake-check {
  background-image: url("http://findicons.com/files/icons/2711/free_icons_for_windows8_metro/32/checked_checkbox.png");
}
label input:checked + .fake-check + span {
  text-decoration: line-through; color: #E50000;
}
label input:checked ~ * {
  opacity: 0.5;
}
label .delete {
  float: right;
  width: 16px; height: 16px;
  background: url("http://findicons.com/files/icons/2711/free_icons_for_windows8_metro/32/trash.png") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  vertical-align: middle; margin-top: 2.5px;
}



